@tailwind base;
@tailwind components;
@tailwind utilities;


/* Glassmorphism kart efekti */
.bgblur {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Kutunun stili */
.borderAnimation {
    border: 5px solid;
    border-color: black;
    border-image: linear-gradient(0deg, black, blue, black) 1;
    animation: borderRotate 3s linear infinite;
}
p{line-height: 1.2 !important;}
nav li {
    font-size: 1.1em;
}
nav li:hover {
    border-bottom: 2px solid crimson;
}
/* Border animasyonu */
@keyframes borderAnimation {
    0% {
        border-color: black;
    }
    50% {
        border-color: blue;
    }
    100% {
        border-color: black;
    }
}
/* Border animasyonu */
@keyframes borderRotate {
    0% {
        border-image: linear-gradient(0deg, black, blue, black) 1;
    }
    100% {
        border-image: linear-gradient(360deg, black, blue, black) 1;
    }
}

.border-bcrimson {
    border-bottom: 5px solid crimson !important;
}

@media (max-width: 767px) {
   nav ul {
       position: absolute;
       z-index: 15;
    }
}